	<!-- 旧TOP
	<div class="wrapper">
		<div class="slide" id="slider">
			<div id="slide1"></div>
			<div id="slide2"></div>
			<div id="slide3"></div>
		</div>
		<div id="contents">
			<img src="https://gastroducejapan.com/gastronomyjapan/top/top1.png" class="img1"><br>
			<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top2.png?v=1603691909" class="img1"><br>
			<div id="shoplist">
				<div class="shop">
					<div class="img2"><img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top4.png?v=1603691914" width="100%"></div>
					<div class="info">
						<h3>「行天」のからすみ</h3>
            <p>福岡は平尾。世界中の美食家たちに感動を与え続けている一軒の鮨屋がある。<br>
            そこには主人の妥協なき食への追求、居心地の良い空間に対する美学があった。<br>
            <div class="toitempage"><a href="#shop1">店舗詳細</a></div></p>
					</div>
				</div>
				<hr class="shopline">
				<div class="shop">
					<div class="img2"><img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top5.png?v=1603691911" width="100%"></div>
					<div class="info">
						<h3>「仙八」の珍味</h3>
						<p>伝統ある江戸前の鮨を守りながらも、穏やかな変化をもたらしながら進化を続ける熊本に店を構える「鮨 仙八」。古き良きを愛おしみつつも移り行く時代の流れとともに鮨を追求していく真の職人の姿がここにあり。<br>
						<div class="toitempage"><a href="#shop2">店舗詳細</a></div></p>
					</div>
				</div>
			</div>
			<h2>SHOP INFORMATION</h2>
			<div id="shop1"></div>
			<img src="https://gastroducejapan.com/gastronomyjapan/top/gyoten.jpg" width="100%">
			<div class="shopinfo">
				<p>「卓越した感性、独自の美学、混気のない本物の世界」</p>
				<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/gyoten1.png?v=1603691915" width="100%">
				<div class="shopdetail">
					基本に忠実でありながら唯一無二。<br>
					絶妙な間合いからなされるその表現力<br>
					そして、その独創的な世界観に見るものを魅力する。<br><br>

					そしてそこに繰り広げられる<br>
					鮨だけに留まらぬ、美の世界。<br>
					暖簾をくぐる瞬間から始まる行天の心地よい空気感。<br>
					しつらい、器、主人のふるまい。<br>
					そのすべての調和が新たな一つの伝統を造る。<br>
					<a href="./products/gyoten-karasumi">
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/read_more.png?v=1603695773" class="readmore">
					</a>
				</div>
				<div class="shopimage"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gyoten2.png?v=1603695786" width="100%"></div>
			</div>

			<div id="shop2"></div>
			<img src="https://gastroducejapan.com/gastronomyjapan/top/senpachi.jpg" width="100%">
			<div class="shopinfo">
				<p>「伝統と変革」</p>
				<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/senpachi1.png?v=1603695787" width="100%">
				<div class="shopdetail">
					伝統ある江戸前を守りながらも、時代とともに、穏やかな変化をもたらしながら進化を続ける「鮨 仙八」。<br>
					古き良きを愛おしみつつも移り行く時代とともに、変化を追求する真の職人の姿がここにあり。<br>
					普段の食卓をは違う、敷居の高い空間だからこそ妥協を許さず、少しでも最良を提供したい。そう目指す姿勢が、訪れる多くの客に感動を与え、県外からも多くの食通たちが毎晩のように訪れ、その粋に心を満たされている。<br>
					<a href="./products/gyoten-karasumi">
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/read_more.png?v=1603695773" class="readmore">
					</a>
				</div>
				<div class="shopimage"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/senpachi2.png?v=1603695785" width="100%"></div>
			</div>
		</div> -->

		<!-- コンテンツ -->
		<div class="wrapper">
			<div class="fv"></div>
			<video id="video_gyoten" data-display="block" poster="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/movie_poster.png?v=1608553413" loop muted autoplay playsinline></video>
			<div class="index_content">
				<div id="contents1" class="scroll fade">
					<p id="ct1">ここでしか手に入らない<br>最高のお取り寄せグルメを<br>特別なお客様だけに。</p>
					<p id="ct2">Only available here The best back order<br>gourmet Only for special customers.</p>
					<p id="ct3">GASTRONOMY JAPAN</p>
				</div>
				<div style="background-color:#000;">
					<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_02_2.jpg" width="100%" class="scroll right"><br>
					<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_03.jpg" width="100%" class="scroll left"><br>
				</div>
			</div>
			<div class="index_shoplist">
				<p class="imidashi1">SHOP LIST</p>
				<ul id="shoplist1">
					<li>
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_04.jpg" width="100%"><br>
						<p class="shopname">SUSHI<br>GYOTEN<br></p>
						<a href="{{ routes.account_login_url }}/?id=gyoten" target="_top"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_06.jpg?" class="login_button"></a>
					</li>
					<li>
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_07.jpg" width="100%"><br>
					</li>
				</ul>
			</div>

		</div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
		<script type="text/javascript">
			$(document).ready( function(){
				$('.fvimage').css({'opacity':'1'});
			});
			$(function () {
				$(window).scroll(function () {
					const wHeight = $(window).height();
					const scrollAmount = $(window).scrollTop();
					$('.scroll').each(function () {
						const targetPosition = $(this).offset().top;
						if(scrollAmount > targetPosition - wHeight + 100) {
							$(this).css({'opacity':'1','transform': 'translateY(0)'});
						}
					});
				});
			});
		</script>

		<script>
			var video = document.getElementById('video_gyoten');//videoタグと同じIDにする
			var videoSrc = 'https://cdn.shopify.com/s/files/1/0263/7637/2260/files/video_gyoten.m3u8?v=1608275101';
			var hls = new Hls();

			if(Hls.isSupported()) {
				hls.loadSource(videoSrc); //ここで.m3u8ファイルを指定
				hls.attachMedia(video);
				hls.on(Hls.Events.MANIFEST_PARSED,function() {
				video.play();
				});
			} else if (video.canPlayType('application/vnd.apple.mpegurl')) {
				video.src = videoSrc;
				video.addEventListener('loadedmetadata', function() {
				video.play();
				});
			}
		</script>

		<!-- ログインボタン
		<div class="">
			<a href="{{ routes.account_login_url }}/?id=gyoten">GYOTEN LOGIN</a>
		</div>

		<div class="">
			<a href="{{ routes.account_login_url }}/?id=senpachi">SENPACHI LOGIN</a>
		</div> -->
	</div>

	<style type="text/css">
		.fv{
			width: 100vw;
			height: 61vw;
			background-image: url(https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_01.jpg);
			background-size: cover;
		}
		#contents1 {
			padding: 200px 0;
			background-color: #ffffff;
		}
		#ct1 {
			font-size: 46px;
			line-height: 220%;
		}
		#ct2 {
			font-size: 28px;
		}
		#ct3 {
			margin-top: 100px;
			font-size: 32px;
			font-weight: bold;
			letter-spacing: 8px;
		}
		.imidashi1 {
			font-size: 70px;
			font-weight: bold;
			letter-spacing: 4px;
		}
		#shoplist1 {
			padding-left: 0;
			width: 75%;
			margin: 100px auto;
		}
		#shoplist1 li {
			list-style: none;
			width: 43%;
			padding: 0 3%;
			display: inline-block;
			vertical-align: top;
		}
		.shopname {
			font-size: 40px;
			font-weight: bold;
		}
		.login_button {width: 30%;}

		.scroll {
			opacity: 0;
			transition: all 1000ms 0s ease;
		}
		.fade {transform: translateY(100px);}
		.right {transform: translateX(-200px);}
		.left {transform: translateX(200px);}

		#video_gyoten {width: 100%;}

		@media screen and (max-width:750px) {
			#contents1 {padding: 0;}
			p {margin: 0;}
			#ct1 {
				font-size: 5vw;
				margin-top: 30px;
			}
			#ct2 {
				font-size: 4vw;
				margin-top: 30px;
			}
			#ct3 {
				font-size: 5vw;
				margin: 40px 0;
			}
			.imidashi1 {
				font-size: 6vw;
				margin-top: 30px;
			}
			#shoplist1 {
				margin: 30px auto;
				width: 95%;
			}
			.shopname {font-size: 3.6vw;margin-bottom: 5px;}
			.login_button {width: 80%;}
		}
	</style>

{% schema %}
{
"name": "トップページ",
"class": "top-contents",
"presets": [
{
"name": {
"ja": "トップページ"
},
"category": {
"ja": "トップページ"
}
}]
}
{% endschema %}