	<!-- 旧TOP
	<div class="wrapper">
		<div class="slide" id="slider">
			<div id="slide1"></div>
			<div id="slide2"></div>
			<div id="slide3"></div>
		</div>
		<div id="contents">
			<img src="https://gastroducejapan.com/gastronomyjapan/top/top1.png" class="img1"><br>
			<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top2.png?v=1603691909" class="img1"><br>
			<div id="shoplist">
				<div class="shop">
					<div class="img2"><img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top4.png?v=1603691914" width="100%"></div>
					<div class="info">
						<h3>「行天」のからすみ</h3>
            <p>福岡は平尾。世界中の美食家たちに感動を与え続けている一軒の鮨屋がある。<br>
            そこには主人の妥協なき食への追求、居心地の良い空間に対する美学があった。<br>
            <div class="toitempage"><a href="#shop1">店舗詳細</a></div></p>
					</div>
				</div>
				<hr class="shopline">
				<div class="shop">
					<div class="img2"><img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top5.png?v=1603691911" width="100%"></div>
					<div class="info">
						<h3>「仙八」の珍味</h3>
						<p>伝統ある江戸前の鮨を守りながらも、穏やかな変化をもたらしながら進化を続ける熊本に店を構える「鮨 仙八」。古き良きを愛おしみつつも移り行く時代の流れとともに鮨を追求していく真の職人の姿がここにあり。<br>
						<div class="toitempage"><a href="#shop2">店舗詳細</a></div></p>
					</div>
				</div>
			</div>
			<h2>SHOP INFORMATION</h2>
			<div id="shop1"></div>
			<img src="https://gastroducejapan.com/gastronomyjapan/top/gyoten.jpg" width="100%">
			<div class="shopinfo">
				<p>「卓越した感性、独自の美学、混気のない本物の世界」</p>
				<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/gyoten1.png?v=1603691915" width="100%">
				<div class="shopdetail">
					基本に忠実でありながら唯一無二。<br>
					絶妙な間合いからなされるその表現力<br>
					そして、その独創的な世界観に見るものを魅力する。<br><br>

					そしてそこに繰り広げられる<br>
					鮨だけに留まらぬ、美の世界。<br>
					暖簾をくぐる瞬間から始まる行天の心地よい空気感。<br>
					しつらい、器、主人のふるまい。<br>
					そのすべての調和が新たな一つの伝統を造る。<br>
					<a href="./products/gyoten-karasumi">
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/read_more.png?v=1603695773" class="readmore">
					</a>
				</div>
				<div class="shopimage"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gyoten2.png?v=1603695786" width="100%"></div>
			</div>

			<div id="shop2"></div>
			<img src="https://gastroducejapan.com/gastronomyjapan/top/senpachi.jpg" width="100%">
			<div class="shopinfo">
				<p>「伝統と変革」</p>
				<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/senpachi1.png?v=1603695787" width="100%">
				<div class="shopdetail">
					伝統ある江戸前を守りながらも、時代とともに、穏やかな変化をもたらしながら進化を続ける「鮨 仙八」。<br>
					古き良きを愛おしみつつも移り行く時代とともに、変化を追求する真の職人の姿がここにあり。<br>
					普段の食卓をは違う、敷居の高い空間だからこそ妥協を許さず、少しでも最良を提供したい。そう目指す姿勢が、訪れる多くの客に感動を与え、県外からも多くの食通たちが毎晩のように訪れ、その粋に心を満たされている。<br>
					<a href="./products/gyoten-karasumi">
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/read_more.png?v=1603695773" class="readmore">
					</a>
				</div>
				<div class="shopimage"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/senpachi2.png?v=1603695785" width="100%"></div>
			</div>
		</div> -->

		<!-- コンテンツ -->
		<div class="wrapper">
			<!-- <div class="fv"></div> -->

			<div class="top-slider">
				<div class="item">
					<img class="pc" src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/pc_top_1.jpg?v=1608724294" alt="">
					<img class="sp" src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/sp_top_1.jpg?v=1608724290" alt="">
				</div>
				<div id="video_item" class="item video">
					<video id="video_top" data-display="block" poster="" loop muted autoplay playsinline></video>
					<div id="btn_sound_wrap">
						<img id="btn_sound" data-sound="on" src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/off_btn.png?v=1608630588" alt="">
					</div>
				</div>
				<div class="item">
					<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/item2_59d0392b-5e31-4759-8ee9-013cd97dadab.jpg?v=1608552560" alt="">
				</div>
			</div>

			<div class="sumahodake">
				<ul class="slider">
					<li><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/sp_slide1.jpg" width="100%"></li>
					<li><video autoplay muted loop playsinline src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/1224douga.mp4?v=1608789693" class="sumahodake"></video></li>
					<li><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/sp_slide3.jpg" width="100%"></li>
				</ul>
			</div>
			

			<div class="index_content">
				<div id="contents1" class="scroll fade">
					<p id="ct1">ここでしか手に入らない<br>最高級のお取り寄せグルメを<br>特別なお客様だけに。</p>
					<p id="ct2">Only available here The best back order<br>gourmet Only for special customers.</p>
					<p id="ct3">GASTRONOMY JAPAN</p>
				</div>
				<div style="background-color:#000;">
					<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_02_2.jpg" width="100%" class="scroll right pcimage">
					<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/toppage_3_sp_04_re2.jpg" width="100%" class="scroll left pcimage">

					<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_sp_1.jpg" width="100%" class="scroll right spimage">
					<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_sp_2_re2.jpg" width="100%" class="scroll left spimage">
				</div>
			</div>
			<div class="index_shoplist">
				<p class="imidashi1">SHOP LIST</p>
				<ul id="shoplist1">
					<li>
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_04.jpg" width="100%"><br>
						<p class="shopname">SUSHI<br>GYOTEN<br></p>
						<a href="{{ routes.account_login_url }}/?id=gyoten" target="_top">
							<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_06.jpg" class="login_button pcimage">
							<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/toppage_3_sp_14.jpg" class="login_button spimage">
						</a>
					</li>
					<li>
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_07.jpg" width="100%"><br>
					</li>
				</ul>
			</div>

			<div class="index_contact">
				ご購入希望の方は<a href="https://gastronomyjapan.com/pages/contact">こちら</a><span class="inlineblock">または下記までお問い合わせください。</span><br>
				※本サービスにつきましては店舗様では<span class="inlineblock">ご対応出来かねる場合がある為、</span><br>
				店舗様へのご連絡はお控え頂きますよう<span class="inlineblock">ご了承ください。</span><br><br>

				<div class="index_contact2">GASTRONOMYJAPANカスタマーサポート<br><br>
				TEL：<span class="inlineblock">092-292-3033</span><br>
				メール：<span class="inlineblock"><a href="mailto:gastronomy-japan@gastroduce-japan.com?subject=%E3%80%90%E8%B3%BC%E5%85%A5%E5%B8%8C%E6%9C%9B%E3%80%91%E5%95%8F%E3%81%84%E5%90%88%E3%82%8F%E3%81%9B">gastronomy-japan@gastroduce-japan.com</a></span><br>
				営業時間：<span class="inlineblock">平日10:00～17:00</span></div>
			</div>

		</div>

		<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
		<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/bxslider.min.js"></script>
		<link rel="stylesheet" type="text/css" href="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/bxslider3.css">
		<script type="text/javascript">
			$(document).ready( function(){
				$('.fvimage').css({'opacity':'1'});
			});
			$(function () {
				$(window).scroll(function () {
					const wHeight = $(window).height();
					const scrollAmount = $(window).scrollTop();
					$('.scroll').each(function () {
						const targetPosition = $(this).offset().top;
						if(scrollAmount > targetPosition - wHeight + 100) {
							$(this).css({'opacity':'1','transform': 'translateY(0)'});
						}
					});
				});
			});
		</script>

		<script>
		$(document).ready( function(){

			$('.top-slider').slick({
				fade: true,
				autoplay: true,
				pauseOnHover: false,
				autoplaySpeed: 5000,
				speed: 600,
				infinite: true,
				lazyLoad:"progressive",
				arrows:false,
				dots:false,
			})

			$('.top-slider').on('afterChange',function(){
				var btn_sound = $('#btn_sound')
				const videoItem = $('#video_item')
				var afterChangeVideo = $('#video_top');

				if(afterChangeVideo[0].muted == false) {
					afterChangeVideo[0].muted = true
					btn_sound.data('sound', 'on')
					btn_sound.attr('src', 'https://cdn.shopify.com/s/files/1/0263/7637/2260/files/off_btn.png?v=1608630588')
				}
			})

			var video = document.getElementById('video_top');
			var videoSrc = 'https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gyoten_video.m3u8?v=1608795460';
			var hls = new Hls();

			if(Hls.isSupported()) {
				hls.loadSource(videoSrc);
				hls.attachMedia(video);
				hls.on(Hls.Events.MANIFEST_PARSED,function() {
				// video.play();
				});
			} else if (video.canPlayType('application/vnd.apple.mpegurl')) {
				video.src = videoSrc;
				video.addEventListener('loadedmetadata', function() {
				// video.play();
				});
			}

			video.addEventListener('loadeddata', function() {
				var loadVideo = document.getElementById('video_top');
				var btn = $('#btn_sound')
				btn.fadeIn()
				$('#btn_sound').on('click', function() {
					var el = $(this).data('sound')
					if(el == 'off') {
						$(this).attr('src', 'https://cdn.shopify.com/s/files/1/0263/7637/2260/files/off_btn.png?v=1608630588')
						$(this).data('sound', 'on')
						loadVideo.muted = true;
					} else if(el == 'on') {
						$(this).attr('src', 'https://cdn.shopify.com/s/files/1/0263/7637/2260/files/on_btn.png?v=1608630588')
						$(this).data('sound', 'off')
						loadVideo.muted = false;
					}
				})
				$('#video_top').on('click', function() {
					var btn = $('#btn_sound')
					var display = $(this).data('display')
					if(display == 'block') {
						$(this).data('display', 'none')
						btn.fadeOut()
					} else if(display == 'none') {
						$(this).data('display', 'block')
						btn.fadeIn()
					}
				})
			})
		});
		$('.slider').bxSlider();

		</script>

		<!-- ログインボタン
		<div class="">
			<a href="{{ routes.account_login_url }}/?id=gyoten">GYOTEN LOGIN</a>
		</div>

		<div class="">
			<a href="{{ routes.account_login_url }}/?id=senpachi">SENPACHI LOGIN</a>
		</div> -->
	</div>

	<style type="text/css">
		.fv{
			width: 100vw;
			height: 61vw;
			background-image: url(https://cdn.shopify.com/s/files/1/0263/7637/2260/files/top_01.jpg);
			background-size: cover;
		}
		#contents1 {
			padding: 200px 0;
			background-color: #ffffff;
		}
		#ct1 {
			font-size: 46px;
			line-height: 220%;
		}
		#ct2 {
			font-size: 28px;
		}
		#ct3 {
			margin-top: 100px;
			font-size: 32px;
			font-weight: bold;
			letter-spacing: 8px;
		}
		.spimage {display: none;}
		.imidashi1 {
			font-size: 70px;
			font-weight: bold;
			letter-spacing: 4px;
		}
		.index_shoplist {margin-top: 100px;}
		#shoplist1 {
			padding-left: 0;
			width: 75%;
			margin: 100px auto;
		}
		#shoplist1 li {
			list-style: none;
			width: 43%;
			padding: 0 3%;
			display: inline-block;
			vertical-align: top;
		}
		.shopname {
			font-size: 40px;
			font-weight: bold;
		}
		.login_button {width: 30%;}

		.scroll {
			opacity: 0;
			transition: all 800ms 0s ease;
		}
		.fade {transform: translateY(100px);}
		.right {transform: translateX(-200px);}
		.left {transform: translateX(200px);}

		#video_top {
			width: 100%;
			cursor: pointer;

		}

		.top-slider .item img{
			max-width: 100% !important;
			max-height: 100% !important;
			width: 100%;
		}

		/*スマホに動画入れるテスト*/
		.sumahodake{display: none;}

		.index_contact {
			width: 100%;
			max-width: 1000px;
			margin: 10px auto;
			padding: 44px 0;
			font-size: 18px;
			text-align: center;
			border: 1px solid #000000;
		}
		.index_contact a {
			text-decoration: underline;
			color: #000000;
		}


		@media screen and (max-width:750px) {
			#contents1 {padding: 0;}
			p {margin: 0;}
			#ct1 {
				font-size: 5vw;
				margin-top: 30px;
			}
			#ct2 {
				font-size: 4vw;
				margin-top: 30px;
			}
			#ct3 {
				font-size: 5vw;
				margin: 40px 0;
				letter-spacing: 4px;
			}
			.spimage {display: inline-block;}
			.pcimage {display: none;}
			.imidashi1 {
				font-size: 6vw;
				margin-top: 30px;
			}
			.index_shoplist {margin-top: 0;}
			#shoplist1 {
				margin: 30px auto;
				width: 95%;
			}
			.shopname {font-size: 3.6vw;margin-bottom: 5px;}
			.login_button {width: 80%;}



			/*スマホだけ縦長動画を入れるテスト*/
			.slick-slider {display: none!important;}
			.sumahodake{display: block;width: 100%;}
			.bx-viewport {height: 176vw!important;}
			.bx-pager.bx-default-pager {display: none;}
			.bx-wrapper {margin-bottom: 0;}

			.index_contact {padding: 32px 0;font-size: 14px;}
			.index_contact2 {font-size: 16px;}
			.inlineblock {display: block;}

		}
	</style>

{% schema %}
{
"name": "トップページ",
"class": "top-contents",
"presets": [
{
"name": {
"ja": "トップページ"
},
"category": {
"ja": "トップページ"
}
}]
}
{% endschema %}