	<!-- コンテンツ -->
	<div class="wrapper">
		<div class="slide" id="slider">
			<div id="slide1"></div>
			<div id="slide2"></div>
			<div id="slide3"></div>
		</div>
		<div id="contents">
			<!--※コンテンツ部分-->
			<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top1.png?v=1603691904" class="img1"><br>
			<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top2.png?v=1603691909" class="img1"><br>
			<div id="shoplist">
				<div class="shop">
					<div class="img2"><img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top4.png?v=1603691914" width="100%"></div>
					<div class="info">
						<h3>鮨　行天</h3>
            <p>ああああああああああああああああああああああああああああああああああああああああああああああ</p>
					</div>
				</div>
				<hr class="shopline">
				<div class="shop">
					<div class="img2"><img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/top5.png?v=1603691911" width="100%"></div>
					<div class="info">
						<h3>鮨　仙八</h3>
						<p>ああああああああああああああああああああああああああああああああああああああああああああああ</p>
					</div>
				</div>
			</div>
			<h2>SHOP INFORMATION</h2>
			<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/gyoten.png?v=1603691916" width="100%">
			<div class="shopinfo">
				<p>一切の妥協を許さない鮨への姿勢</p>
				<img src="https://cdn.shopify.com/s/files/1/0429/2712/8731/files/gyoten1.png?v=1603691915" width="100%">
				<div class="shopdetail">
					ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>
					<a href="./products/5">
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/read_more.png?v=1603695773" class="readmore">
					</a>
				</div>
				<div class="shopimage"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gyoten2.png?v=1603695786" width="100%"></div>
			</div>

			<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/senpachi.png?v=1603695788" width="100%">
			<div class="shopinfo">
				<p>唯一無二の旨さを提供する二つ星鮨店</p>
				<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/senpachi1.png?v=1603695787" width="100%">
				<div class="shopdetail">
					ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。ここにテキストが入ります。<br>
					<a href="./products/1">
						<img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/read_more.png?v=1603695773" class="readmore">
					</a>
				</div>
				<div class="shopimage"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/senpachi2.png?v=1603695785" width="100%"></div>
			</div>
		</div>
	</div>

{% schema %}
{
"name": "トップページ",
"class": "top-contents",
"presets": [
{
"name": {
"ja": "トップページ"
},
"category": {
"ja": "トップページ"
}
}]
}
{% endschema %}