<div class="page-width page-special-commercial-law">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <!-- <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div> -->

      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

<a href="https://gastronomyjapan.com/pages/member_registration"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/regi_bnr2_pc_5b75b946-3dfb-44e3-b81c-e4d9bcf784dd.jpg?v=1625203855" class="pc_img" style="margin-top:50px;"></a>
			<a href="https://gastronomyjapan.com/pages/member_registration"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/regi_bnr2_sp_53e393dc-af6a-4eb5-a70c-eb698b5da447.jpg?v=1625203855" class="sp_img" style="margin-top:50px;"></a>
			
			<a href="https://gastronomyjapan.com/pages/%E3%81%94%E6%B3%A8%E6%96%87%E3%82%AC%E3%82%A4%E3%83%89"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_noshi_bnr2_pc_e58014c1-fa40-43d8-a140-faabb0912bca.jpg?v=1625203855" class="pc_img" style="margin-top: 50px;"></a>
			<a href="https://gastronomyjapan.com/pages/%E3%81%94%E6%B3%A8%E6%96%87%E3%82%AC%E3%82%A4%E3%83%89"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_noshi_bnr2_sp_ac3b33fa-5090-4fcd-8350-92113cec3456.jpg?v=1625203855" class="sp_img" style="margin-top: 15px;"></a>
			
<a href="https://gastronomyjapan.com/pages/%E3%82%AE%E3%83%95%E3%83%88%E3%81%AE%E3%81%94%E6%A1%88%E5%86%85"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_bnr2_pc_140c6a4e-0d27-4521-8e4d-32215d0148f7.jpg?v=1625142769" width="100%" class="pc_img" style="margin-top: 50px;"></a>
          <a href="https://gastronomyjapan.com/pages/%E3%82%AE%E3%83%95%E3%83%88%E3%81%AE%E3%81%94%E6%A1%88%E5%86%85"><img src="https://cdn.shopify.com/s/files/1/0263/7637/2260/files/gift_bnr2_sp_b901edfe-2e6b-49e7-a979-89cd50457dd4.jpg?v=1625189762" width="100%" class="sp_img" style="margin-top: 15px;"></a>

<style type="text/css">
  .page-width {padding-top: 50px;}
  .sp_img {display: none;}
  .pc_img {width: 100vw;}
@media screen and (max-width:750px) {
  .sp_img {display: inline-block;}
  .pc_img {display: none;}
}
</style>